<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ConsolaMonitoreo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		
		<!--Un canal-->
		<add key="UrlCoreOnline" value="http://localhost:1026/BamToken.asmx" />
		<add key="UrlCoreOffline" value="http://localhost:1026/OffToken.asmx" />
		<add key="WebHookUri" value="https://hooks.slack.com/services/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" />
		<add key="ResponseTimeLimit" value="10000" />
		<add key="ServerOrigin" value="10.75.75.1" />

	    <!--Smtp BAM-->
	    <add key="EmailAlert" value="mlopez@develsystems.com,melguevara04@gmail.com" />
	    <add key="EmailFrom" value="agromercantil@bam.com.gt" />
		<add key="EmailSubject" value="Alerta Consola de Monitoreo" />
		<add key="EmailHost" value="182.160.24.85" />
		<add key="EmailPort" value="25" />
		<add key="EmailTimeout" value="10000" />
	 
		<!-- DSNotification-->
		<add key="ApiUri" value="http://dsnotification.develsystems.com/api" />
		<add key="IgnoreSslErrors" value="true" />
		<add key="UserName" value="lvega" />
		<add key="Password" value="lvega" />
		<add key="SendByDSNotification" value="true" />
	 
		<!--Múltiples canales-->
		<add key="Channel" value="C04NDQUT18V" />
		<add key="ChatUri" value="https://slack.com/api/chat.postMessage" />
		<add key="ApiKey" value="xoxb-63672341488-4764805773170-zF5m4QGdQvZSeG2AjinwGnwX" />
		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ConsolaMonitoreo.Properties.Settings>
            <setting name="ConsolaMonitoreo__bimovilDesaV2_Mensajes_Tokens"
                serializeAs="String">
                <value>http://10.2.0.189/bimovil_tokens/mensajes.asmx</value>
            </setting>
            <setting name="ConsolaMonitoreo__BiMovilProduccionV3_Mensajes_Tokens"
                serializeAs="String">
                <value>http://bimovilwebservices/bimovil_tokens/mensajes.asmx</value>
            </setting>
            <setting name="ConsolaMonitoreo_desarrollo_Mensajes_Tokens" serializeAs="String">
                <value>http://10.10.14.87/bimovil_tokens/mensajes.asmx</value>
            </setting>
        </ConsolaMonitoreo.Properties.Settings>
    </applicationSettings>
</configuration>