<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ConsolaMonitoreo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		
		<!--Un canal-->
		<add key="UrlCore" value="http://localhost:1026/BiToken.asmx" />
		<add key="WebHookUri" value="https://hooks.slack.com/services/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" />
		<add key="ResponseTimeLimit" value="10000" />
		<add key="ServerOrigin" value="10.2.0.189" />

	    <!--BIMovil-->
	    <add key="BMUsername" value="Colocar Username" />
	    <add key="BMPassword" value="Colocar Password" />
		<add key="EmailAlert" value="SistemasOP@bi.com.gt" />
		<add key="TelSMS" value="59909019" />
		<!--1 = SMS / 2 = Email-->
		<add key="DeliveryAlertBI" value="2" /> 
	 
		<!--Múltiples canales-->
		<add key="Channel" value="C04NDQUT18V" />
		<add key="ChatUri" value="https://slack.com/api/chat.postMessage" />
		<add key="ApiKey" value="xoxb-63672341488-4764805773170-zF5m4QGdQvZSeG2AjinwGnwX" />
		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ConsolaMonitoreo.Properties.Settings>
            <setting name="ConsolaMonitoreo__bimovilDesaV2_Mensajes_Tokens"
                serializeAs="String">
                <value>http://10.2.0.189/bimovil_tokens/mensajes.asmx</value>
            </setting>
            <setting name="ConsolaMonitoreo__BiMovilProduccionV3_Mensajes_Tokens"
                serializeAs="String">
                <value>http://bimovilwebservices/bimovil_tokens/mensajes.asmx</value>
            </setting>
            <setting name="ConsolaMonitoreo_desarrollo_Mensajes_Tokens" serializeAs="String">
                <value>http://10.10.14.87/bimovil_tokens/mensajes.asmx</value>
            </setting>
        </ConsolaMonitoreo.Properties.Settings>
    </applicationSettings>
</configuration>